.Nav {
  padding: 1rem;
}

.Nav a {
  text-decoration: none;
}

.Nav ol {
  display: flex;
  flex-direction: column;
}

.Nav .label {
  font-size: 1.3rem;
  position: relative;
  text-align: center;
}

.Nav .label.selected {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.Nav .underline {
  width: 100%;
  height: 8px;
  border-radius: 4px;
  background: black;
  position: absolute;
  bottom: -6px;
}

.Nav ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 600px) {
  .Nav ol {
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }

  .Nav .label {
    font-size: 2rem;
    margin-right: 1rem;
  }

  .Nav .label.selected {
    font-size: 4rem;
  }
}

@media screen and (min-width: 960px) {
  .Nav .label {
    font-size: 3rem;
  }

  .Nav .label.selected {
    font-size: 5rem;
  }
}
